.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-link {
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s ease, padding-left 0.2s ease;
}

.sidebar-link:hover {
    background: var(--accent);
    color: rgb(0, 18, 175) !important;
    padding-left: 20px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logout-container {
    margin-top: auto;
    padding-top: 10px;
}
