.sidebar-link {
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s ease, padding-left 0.2s ease;
}

.sidebar-link:hover {
    background: var(--accent);
    color: white !important;
    padding-left: 20px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 8px;
}
.admin-sidebar-profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30px;

}

.admin-sidebar-profile:hover{
    
    background-color: blue;
}

.admin-sidebar-profile h2{
    font-size: 20px;
}